body {
  background-color: light-dark(aqua, darkblue);
  color: light-dark(black, white);
}

footer {
  background-color: light-dark(black, grey);
  color: light-dark(white, black);
}

h1 {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

.center {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#color-chooser {
  border: 3px solid purple;

  input {
    display: none;
  }

  label:has( input:checked ) {
    color: darkgreen;
    background: lightsalmon;
  }
}
